:root {
  --max-width: 1100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* lenis recommendation */
html {
  scrollbar-width: none;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.background {
  height: 100svh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -50;
  opacity: 0.7;
}

/* font */
@font-face {
  font-family: "Cormorant Garamond Regular";
  src: url("./assets/fonts/CormorantGaramond-Regular.woff2") format("woff2");
}

/* Hide the scrollbar */
body {
  font-family: "Cormorant Garamond Regular", serif;
  /* overflow-x: hidden; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
  /* overflow-y: scroll; */
}

/* Hide the scrollbar for all browsers except Firefox */
body::-webkit-scrollbar {
  /* display: none; */
}

/* global values */
.Images {
  object-fit: contain;
  width: 80% !important;
  position: relative !important;
  height: unset !important;
  transition: transform 0.5s ease-out;
}
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.card {
  width: 93dvw;
  height: 45dvw;
  background: rgba(
    255,
    255,
    255,
    0.2
  ); /* Set a semi-transparent background color */
  border-radius: 1vw; /* Apply rounded corners to the element */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
  backdrop-filter: blur(10px);
  filter: blur(7px);
  padding: 20px; /* Add some padding to the content */
  display: flex;
}

.mobileCard {
  width: 90dvw;
  height: 95dvh;

  padding: 10px;
  display: none;
}

.card h1 {
  font-size: 10rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

/* smartphone */
@media all and (max-width: 480px) {
  .card {
    display: none;
  }
  .mobileCard {
    display: flex;
    border-radius: 3vw;
  }
}
